<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Manager Manage Event</title>
  </head>
  <body class="bg-light">
      <div class="container">
            <div class="py-5 text-center">
                <h2>Manage Event</h2>
            </div>
            <div class="col-md-8 offset-md-2">
                <form method="post">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="tourName">Name</label>
                            <input type="text" class="form-control" name="name" id="name" value="">
                        </div>

                        <div class="col-md-3">
                            <label for=""> </label>
                            <p></p>
                        </div>

                        <div class="col-md-4">
                            <label for="type">Desciption keyword</label>
                            <input type="text" class="form-control" name="description" id="description" value="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="date">Start Date</label>
                            <input type="date" class="form-control" name="startDate" id="date" placeholder="" value="" required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="date">End Date</label>
                            <input type="date" class="form-control" name="endDate" id="date" placeholder="" value="" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="rangeMin">Duration (Min # day)</label>
                            <input type="number" class="form-control" name="minDuration" id="minDuration" placeholder="" value="" min="0">
                        </div>
                        <div class="col-md-0">
                            <label for=""> </label>
                            <p></p>
                            <p>--</p>
                        </div>
                        <div class="col-md-2">
                            <label for="rangeMax">(Max #)</label>
                            <input type="number" class="form-control" name="maxDuration" id="maxDuration" placeholder="" value="" min="0">
                        </div>
    <!-- Add functionality of the same day range. (Note 1, Screen 25) -->

                        <div class="col-md-1">
                            <label for=""> </label>
                            <p></p>
                        </div>

                        <div class="col-md-3">
                            <label for="visitMin">Total Visits (Min)</label>
                            <input type="number" class="form-control" name="minVisit" id="minVisit" placeholder="" value="" min="0">
                        </div>
                        <div class="col-md-0">
                            <label for=""> </label>
                            <p></p>
                            <p>--</p>
                        </div>
                        <div class="col-md-2">
                            <label for="visitMax">(Max)</label>
                            <input type="number" class="form-control" name="maxVisit" id="maxVisit" placeholder="" value="" min="0">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="rangeMin">Total Revenue Range (low)</label>
                            <input type="number" class="form-control" name="minRevenue" id="minRevenue" placeholder="" value="" min="0">
                        </div>
                        <div class="col-md-0">
                            <label for=""> </label>
                            <p></p>
                            <p>--</p>
                        </div>
                        <div class="col-md-2">
                            <label for="rangeMax">(high)</label>
                            <input type="number" class="form-control" name="maxRevenue" id="maxRevenue" placeholder="" value="" min="0">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="">  </label>
                            <button class="btn btn-primary btn-sm btn-block" type="submit">Filter</button>   
                        </div>
                        <div class="col-md-1">
                            <label for=""> </label>
                            <p></p>
                        </div>
                        <div class="col-md-2 offset-md-2">
                            <label for="">  </label>
                            <a href="/event/create">
                                <button class="btn btn-primary btn-sm btn-block" type="button">Create</button>
                            </a>  
                        </div>
                    </div>
                </form>
                <form method="post">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Staff Count</th>
                            <th scope="col">Duration (Days)</th>
                            <th scope="col">Total Visits</th>
                            <th scope="col">Total Revenue ($)</th>
                            <th>Edit</th>
                            <th>Delte</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                                <tr>
                                    <td>{{event.name}}</td>
                                    <td>{{event.StaffCount}}</td>
                                    <td>{{event.Duration}}</td>
                                    <td>{{event.TotalVisits}}</td>
                                    <td>{{event.Revenue}}</td>
                                    <td>
                                        <a href="/event/edit/{{event.name}}/{{event.StartDate}}">
                                            <button class="btn btn-primary btn-sm btn-block" type="button">Edit</button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/event/delete/{{event.name}}/{{event.StartDate}}">
                                            <button class="btn btn-primary btn-sm btn-block" type="button">Delete</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-3 offset-md-4">
                            <label for="">  </label>
                            <p></p>
                            <button class="btn btn-primary btn-sm btn-block" type="submit">Back</button>   
                        </div>
                    </div>
                </form>
            </div>
        </div>
