<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Admin Manage Site</title>
  </head>
  <body class="bg-light">
      <div class="container">
            <div class="py-5 text-center">
                <h2>Manage Site</h2>
            </div>
            <div class="col-md-8 offset-md-2">
                <form method="POST">
                    <div class="row">
                            <div class="col-md-4">
                                <label for="site">Site</label>
                                <select class="form-control" name="site" id="site">
                                    <option value="">All</option>
                                    {% for site in sites %}
                                        <option value="{{site.name}}">{{site.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label for=""> </label>
                                <p></p>
                            </div>

                            <div class="col-md-6">
                                <label for="manager">Manager</label>
                                <select class="form-control" name="manager" id="manager">
                                    <option value="">All</option>
                                    {% for manager in managers %}
                                        <option value="{{manager.name}}">{{manager.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 offset-md-4">
                                <label for="site">Open Everyday</label>
                                <select class="form-control" name="type" id="type">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <label for="">  </label>
                                <button class="btn btn-primary btn-sm btn-block" type="submit">Filter</button>
                            </div>
                            <div class="col-md-1">
                                <label for=""> </label>
                                <p></p>
                            </div>
                            <div class="col-md-2 offset-md-2">
                                <label for="">  </label>
                                <button class="btn btn-primary btn-sm btn-block" type="submit">Create</button>
                            </div>
                            <div class="col-md-2">
                                <label for="">  </label>
                                <button class="btn btn-primary btn-sm btn-block" type="submit">Edit</button>
                            </div>
                            <div class="col-md-2">
                                <label for="">  </label>
                                <button class="btn btn-primary btn-sm btn-block" type="submit">Delete</button>
                            </div>
                        </div>
                </form>
                <form method="GET">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Manager</th>
                            <th scope="col">Open Everyday</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for name in names %}
                                <tr>
                                    <td>
                                        <input class="form-check-input" type="radio" name="name" id="name" value="{{name.name}}" required>
                                    </td>
                                    <td>{{name.name}}</td>
                                    <td>{{name.manager}}</td>
                                    <td>{{name.OpenEveryDay}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-3 offset-md-4">
                            <label for="">  </label>
                            <p></p>
                            <a href="/">
                                <button class="btn btn-primary btn-sm btn-block" type="submit">Back</button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
