<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Manager Site Report</title>
  </head>
  <body class="bg-light">
      <div class="container">
            <div class="py-5 text-center">
                <h2>Site Report</h2>
            </div>
            <div class="col-md-8 offset-md-2">
                <form method="POST">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="startdate">Start Date</label>
                            <input type="date" class="form-control" name="startdate" id="startdate" placeholder="" value="" required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="date">End Date</label>
                            <input type="date" class="form-control" name="enddate" id="enddate" placeholder="" value="" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="eventMin">Event Count(Min)</label>
                            <input type="number" class="form-control" name="eventMin" id="eventMin" placeholder="" value="" min="0">
                        </div>
                        <div class="col-md-0">
                            <label for=""> </label>
                            <p></p>
                            <p>--</p>
                        </div>
                        <div class="col-md-2">
                            <label for="eventMax">(Max)</label>
                            <input type="number" class="form-control" name="eventMax" id="eventMax" placeholder="" value="" min="0">
                        </div>

                        <div class="col-md-3 offset-md-1">
                            <label for="staffMin">Staff Count(Min)</label>
                            <input type="number" class="form-control" name="staffMin" id="staffMin" placeholder="" value="" min="0">
                        </div>
                        <div class="col-md-0">
                            <label for=""> </label>
                            <p></p>
                            <p>--</p>
                        </div>
                        <div class="col-md-2">
                            <label for="staffMax">(Max)</label>
                            <input type="number" class="form-control" name="staffMax" id="staffMax" placeholder="" value="" min="0">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="visitMin">Total Visits (Min)</label>
                            <input type="number" class="form-control" name="visitMin" id="visitMin" placeholder="" value="" min="0">
                        </div>
                        <div class="col-md-0">
                            <label for=""> </label>
                            <p></p>
                            <p>--</p>
                        </div>
                        <div class="col-md-2">
                            <label for="visitMax">(Max)</label>
                            <input type="number" class="form-control" name="visitMax" id="visitMax" placeholder="" value="" min="0">
                        </div>

                        <div class="col-md-3 offset-md-1">
                            <label for="revMin">Tot. Revenue $ (Min)</label>
                            <input type="number" class="form-control" name="revMin" id="revMin" placeholder="" value="" min="0">
                        </div>
                        <div class="col-md-0">
                            <label for=""> </label>
                            <p></p>
                            <p>--</p>
                        </div>
                        <div class="col-md-2">
                            <label for="revMax">(Max)</label>
                            <input type="number" class="form-control" name="revMax" id="revMax" placeholder="" value="" min="0">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="">  </label>
                            <button class="btn btn-primary btn-sm btn-block" type="submit">Filter</button>
                        </div>

                        <div class="col-md-3 offset-md-6">
                            <label for="">  </label>
                            <button class="btn btn-primary btn-sm btn-block" type="submit">Daily Detail</button>
                        </div>
                    </div>
                </form>
                <form method="GET">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col"></th>
                            <th scope="col">Date</th>
                            <th scope="col">Event Count</th>
                            <th scope="col">Staff Count</th>
                            <th scope="col">Total Visits</th>
                            <th scope="col">Total Revenue</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in dataDB %}
                                <tr>
                                    <td>
                                        <input class="form-check-input" type="radio" name="data" id="date" value="{{data.date}}" required>
                                    </td>
                                    <td>{{data.date}}</td>
                                    <td>{{data.EventCount}}</td>
                                    <td>{{data.StaffCount}}</td>
                                    <td>{{data.TotalVisits}}</td>
                                    <td>{{data.TotalRevenue}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-3 offset-md-4">
                            <label for="">  </label>
                            <p></p>
                            <button class="btn btn-primary btn-sm btn-block" type="submit">Back</button>
                        </div>
                    </div>
                <!-- </form> -->
            </div>
        </div>
