<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Visitor Site Detail</title>
  </head>
  <body class="bg-light">
      <div class="container">
            <div class="py-5 text-center">
                <h2>Site Detail</h2>
            </div>
            <div class="col-md-8 offset-md-2">
                <form method="get">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="site">Site</label>
                            <input type="text" class="form-control" id="site" value="{{dataDB.site}}" readonly>
                        </div>

                        <div class="col-md-4 offset-md-">
                            <label for="openEveryday">Open Everyday</label>
                            <input type="text" class="form-control" id="openEveryday" value="{{dataDB.openEveryday}}" readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" value="{{dataDB.address}}" readonly>
                        </div>

                    </div>
                </form>
                <form method="post">
                    <div class="row">
                        <div class="col-md-4 offset-md-3">
                            <label for="date">Visit Date</label>
                            <input type="date" class="form-control" name="date" id="date" placeholder="" value="" required>
                            <!-- need to check functionality -->
                            <!-- {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="invalid-feedback">
                                    You have already taken this transit today
                                </div>
                            {% endif %}
                            {% endwith %} -->
                        </div>
                        <div class="col-md-3">
                            <label for="">  </label>
                            <p></p>
                            <button class="btn btn-primary btn-sm btn-block" type="submit">Log Visit</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 offset-md-5">
                            <label for="">  </label>
                            <p></p>
                            <a href="/">
                                <button class="btn btn-primary btn-sm btn-block" type="submit">Back</button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
