    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atlanta Beltline</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

    <style type="text/css">
        .btn-group {
		width: 340px;
    	margin: 50px auto;
        }
        .btn {        
            font-size: 15px;
            font-weight: bold;
        }
    </style>
</head>
<body>

<h1 style="text-align:center;"> Welcome to the Atlanta Beltline! </h1>

<div class="btn-group">
    <form action="/auth/login" method="get">
        <button class="btn btn-primary btn-block" name="login" type="submit">Login</button>
    </form>
    <form action="/auth/register/nav" method="get">
        <button class="btn btn-primary btn-block" name="register" type="submit">Register</button>
    </form>
</div>

<p style="text-align:center;"> Made by some curry boiz</p>
</body>
</html>