<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Manage User</title>
  </head>
  <body class="bg-light">
      <div class="container">
            <div class="py-5 text-center">
                <h2>Manage User</h2>
            </div>
            <div class="col-md-8 offset-md-2">
                <form method="post">
                    <div class="row">
                            <div class="col-md-4">
                                <label for="Username">Username</label>
                                <input type="text" class="form-control" name="username" id="username" value="{{users.username}}">
                            </div>
                            <div class="col-md-3">
                                <label for="type">Type</label>
                                <select class="form-control" name="usertype" id="usertype">
                                    <option value="User">User</option>
                                    <option value="Visitor">Visitor</option>
                                    <option value="Staff">Staff</option>
                                    <option value="Manager">Manager</option>
                                </select>
                            </div>

                            <div class="col-md-5">
                                <label for="type">Status</label>
                                <select class="form-control" name="status" id="status">
                                    <option value="Approved">Approved</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Declined">Declined</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 offset-md-1">
                                <label for="">  </label>
                                <button class="btn btn-primary btn-sm btn-block" type="submit">Filter</button>   
                            </div>
                            <div class="col-md-1">
                                <label for=""> </label>
                                <p></p>
                            </div>
                           <!--  <div class="col-md-3 offset-md-1">
                                <label for="">  </label>
                                <button class="btn btn-primary btn-sm btn-block" type="submit">Approve</button>   
                            </div>
                            <div class="col-md-3">
                                <label for="">  </label>
                                <button class="btn btn-primary btn-sm btn-block" type="submit">Decline</button>   
                            </div> -->
                        </div>
                </form>
                <form method="post">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Email Count</th>
                            <th scope="col">User Type</th>
                            <th scope="col">Status</th>
                            <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{user.username}}</td>
                                    <td>{{user.emailcount}}</td>
                                    <td>{{user.usertype}}</td>
                                    <td>{{user.status}}</td>
                                    <td>
                                        <a href="/manage/user/approved/{{user.username}}">
                                            <button class="btn btn-primary btn-sm btn-block" type="button">Approve</button>
                                        </a>
                                    </td>

                                    <td>
                                        <a href="/manage/user/decline/{{user.username}}">
                                            <button class="btn btn-primary btn-sm btn-block" type="button">Decline</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-3 offset-md-4">
                            <label for="">  </label>
                            <p></p>
                            <button class="btn btn-primary btn-sm btn-block" type="submit">Back</button>   
                        </div>
                    </div>
                </form>
            </div>
        </div>
