<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Staff View Schedule</title>
  </head>
  <body class="bg-light">
      <div class="container">
            <div class="py-5 text-center">
                <h2>View Schedule</h2>
            </div>
            <div class="col-md-8 offset-md-2">
                <form method="post">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="eventName">Event Name</label>
                            <input type="text" class="form-control" name="eventName" id="eventName" value="">
                        </div>

                        <div class="col-md-3">
                            <label for=""> </label>
                            <p></p>
                        </div>

                        <div class="col-md-4 offset-md-0">
                            <label for="Desciption">Desciption keyword</label>
                            <input type="text" class="form-control" name="desc" id="desc" value="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="startDate">Start Date</label>
                            <input type="date" class="form-control" name="startDate" id="startDate" placeholder="" value="">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="endDate">End Date</label>
                            <input type="date" class="form-control" name="endDate" id="endDate" placeholder="" value="" >
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 offset-md-2">
                            <label for="">  </label>
                            <button class="btn btn-primary btn-sm btn-block" type="submit">Filter</button>
                        </div>

                        <!-- <div class="col-md-2 offset-md-4">
                            <label for="">  </label>
                            <a href="/event/visitor/detail/<name>/<start_date>/<site_name>">
                                <button class="btn btn-primary btn-sm btn-block" type="submit">View Event</button>
                            </a>
                        </div> -->
                    </div>
                </form>
                <form method="post">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Event Name</th>
                            <th scope="col">Site Name</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Staff Count</th>
                            <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                                <tr>
                                    <td>{{event.eventName}}</td>
                                    <td>{{event.siteName}}</td>
                                    <td>{{event.startName}}</td>
                                    <td>{{event.endDate}}</td>
                                    <td>{{event.staffCount}}</td>
                                    <td>
                                        <a href="/event/visitor/detail/{{event.eventName}}/{{event.startDate}}/{{event.siteName}}">
                                            <button class="btn btn-primary btn-sm btn-block" type="button">View Event</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-2 offset-md-5">
                            <label for="">  </label>
                            <p></p>
                            <button class="btn btn-primary btn-sm btn-block" type="submit">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
