<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Visitor Visit History</title>
  </head>
  <body class="bg-light">
      <div class="container">
            <div class="py-5 text-center">
                <h2>Visit History</h2>
            </div>
            <div class="col-md-8 offset-md-2">
                <form method="post">
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="event">Event</label>
                            <input type="text" class="form-control" name="event" id="event" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid event name is required.
                            </div>
                        </div>

                        <div class="col-md-4 offset-md-3">
                            <label for="site">Site</label>
                            <select class="form-control" name="site" id="site">
                                <option value="">All</option>
                                {% for site in sites %}
                                    <option value="{{site.name}}">{{site.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="date">Start Date</label>
                            <input type="date" class="form-control" name="startdate" id="startdate" placeholder="" value="" required>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="date">End Date</label>
                            <input type="date" class="form-control" name="enddate" id="enddate" placeholder="" value="" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 offset-md-5">
                            <button class="btn btn-primary btn-md btn-block" type="submit">Filter</button>   
                        </div>
                    </div>
                </form>
                <!-- <form method="post"> -->
                <table class="table table-striped"> 
                    <thead>
                        <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Event</th>
                        <th scope="col">Site</th>
                        <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for site in history %}
                            <tr>
                                <td>{{site.date}}</td>
                                <td>{{site.event}}</td>
                                <td>{{site.siteName}}</td>
                                <td>{{site.price}}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    <div class="row">
                        <div class="col-md-3 offset-md-4">
                            <label for="">  </label>
                            <p></p>
                            <a href="/">
                                <button class="btn btn-primary btn-sm btn-block" type="submit">Back</button>   
                            </a>    
                        </div>
                    </div>
                <!-- </form> -->
            </div>
        </div>
