 <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Admin Manage Tansit</title>
  </head>
  <body class="bg-light">
      <div class="container">
            <div class="py-5 text-center">
                <h2>Manage Transit</h2>
            </div>
            <div class="col-md-8 offset-md-2">
                <form method="post">
                    <div class="row">
                            <div class="col-md-4">
                                <label for="type">Transit Type</label>
                                <select class="form-control" name="type" id="type">
                                    <option value="">All</option>
                                    <option value="MARTA">MARTA</option>
                                    <option value="Bus">Bus</option>
                                    <option value="Bike">Bike</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label for=""> </label>
                                <p></p>
                            </div>

                            <div class="col-md-5">
                                <label for="manager">Route</label>
                                <input type="text" class="form-control" name="route" id="routeName" placeholder="" value="" min="0">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <label for="site">Contain Site</label>
                                <select class="form-control" name="site" id="site">
                                    <option value="">All</option>
                                    {% for site in sites %}
                                        <option value="{{site.siteName}}">{{site.siteName}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label for=""> </label>
                                <p></p>
                            </div>


                            <div class="col-md-2">
                                <label for="lowPrice">Price(Low)</label>
                                <input type="number" class="form-control" name="lowPrice" id="lowPrice" placeholder="" value="" min="0">
                            </div>
                            <div class="col-md-1">
                                <label for=""> </label>
                                <p></p>
                                <p>--</p>
                            </div>
                            <div class="col-md-2">
                                <label for="highprice">(High)</label>
                                <input type="number" class="form-control" name="highPrice" id="highPrice" placeholder="" value="" min="0">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <label for="">  </label>
                                <button class="btn btn-primary btn-sm btn-block" type="submit">Filter</button>   
                            </div>
                            <div class="col-md-1">
                                <label for=""> </label>
                                <p></p>
                            </div>
                            <div class="col-md-2 offset-md-2">
                                <label for="">  </label>
                                <a href="/transit/create">
                                    <button class="btn btn-primary btn-sm btn-block" type="button">Create</button>  
                                </a> 
                            </div>
                        </div>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">Route</th>
                        <th scope="col">Transport Type</th>
                        <th scope="col">Price</th>
                        <th scope="col"># Connected Sites</th>
                        <th scope="col"># Transit Logged</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for route in routes %}
                            <tr>
                                <td>{{route.route}}</td>
                                <td>{{route.transportType}}</td>
                                <td>{{route.price}}</td>
                                <td>{{route.numConnectedSites}}</td>
                                <td>{{route.numTransitLogged}}</td>
                                <td>
                                    <a href="/transit/edit/{{route.transportType}}/{{route.route}}">
                                        <button class="btn btn-primary btn-sm btn-block" type="button">Edit</button>
                                    </a>
                                </td>
                                <td>
                                    <a href="/transit/delete/{{route.transportType}}/{{route.route}}">
                                        <button class="btn btn-primary btn-sm btn-block" type="button">Delete</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3 offset-md-4">
                        <label for="">  </label>
                        <p></p>
                        <a href="/">
                            <button class="btn btn-primary btn-sm btn-block" type="button">Back</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
