<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Transit History</title>
  </head>

  <body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Transit History</h2>
        </div>
        <div class="col-md-8 offset-md-2">
            <form method="post">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="site">Site</label>
                        <select class="form-control" name="site" id="site">
                            {% for site in sites %}
                            <option value="{{site.name}}">{{site.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="type">Transit Type</label>
                        <select class="form-control" name="type" id="type">
                            <option value="">All</option>
                            <option value="MARTA">MARTA</option>
                            <option value="Bus">Bus</option>
                            <option value="Bike">Bike</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="route">Route</label>
                        <input type="text" class="form-control" name="route" id="route" placeholder="" value="">
                    </div>
                    <div class="col-md-4">
                        <label for="startDate">Start Date</label>
                        <input type="date" class="form-control" name="startDate" id="startDate" placeholder="" value="">
                    </div>
                    <div class="col-md-4">
                        <label for="endDate">End Date</label>
                        <input type="date" class="form-control" name="endDate" id="endDate" placeholder="" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p></p>
                        <button class="btn btn-primary btn-sm btn-block" type="submit">Filter</button>   
                    </div>
                </div>
            </form>
            <hr class="mb-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Route</th>
                    <th scope="col">Transportation Type</th>
                    <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transit in history %}
                        <tr>
                            <td>{{transit.date}}</td>
                            <td>{{transit.route}}</td>
                            <td>{{transit.type}}</td>
                            <td>{{transit.price}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/">
                <a href="/">
                    <button class="btn btn-primary btn-sm btn-block" type="button">Back</button>
                </a>
            </a>
    </div>
  </body>